.toDoSection {
    width: 50%;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

h1 {
    margin: 0;
}

p {
    margin-top: 6px;
}

.completeButton {
    border: 1px solid #ff69b4;
    padding: 4px;
    margin-right: 4px;
    border-radius: 4px;
    color: #ff69b4;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}

.material-icons {
    font-size: 22px;
    float: right;
}

li {
    margin: 6px;
}

ol {
    padding-left: 20px;
}