<head>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>

<body>
  <section class="toDoSection">
    <h1>To-Do List</h1>
    <p>A place to store the things you have to do</p>
    <form #filterForm="ngForm">
      <input
        type="text"
        name="filter"
        placeholder="Filter your to-dos"
        ngModel
        (input)="filterList($event)"
      />
    </form>

    <todo-list
      (onRemoveTodo)="removeTodo($event)"
      (onCompleteTask)="completeTask($event)"
      [todoList]="todoList"
    ></todo-list>

    <add-form 
      (onAddTodo)="addTodo($event)"
    ></add-form>
  </section>
</body>
